# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Model files (if too large)
*.keras
*.h5
*.hdf5

# Dataset
ANGKA ARAB/
data/